[Unit]
Description=Remote access GPIO button toggle deamon
After=basic.target
Before=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/remoteaccessd /dev/input/event0 /media/usb
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target